.logo{
    width: 60px;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10px;
    display: inline-block;
}
.logo img:hover{
transform: rotate(360deg);
transition: 1s;

}
.dp{
    opacity: 0;
}

.nav{
    margin-left: 450px;
    margin-top: -30px;
    opacity: 1;
}

.nav ul{
    display: inline-flex;
    flex-direction: row;
    column-gap: 50px;
}
.nav ul li{
    list-style: none;
    font-size: 20px;
}
a{

    text-decoration: none;
    color: black;
}
.nav a:hover,.nav a:active{
color: blue;
transition: 0.5s;
}
.sh{
    margin-top: -55px;
    margin-left: 120px;
}
.an{
    margin-left: 640px;
    margin-top: 50px;
    display: inline-block;
}
.an img{
 width: 700px;
 
}
.t{
    
    width: 400px;
    font-size: 20px;
    margin-left: 150px;
   position: absolute;
   top: 1680px;
    display: inline-block;
    font-weight: 500;
}
p{
    margin: 0px;
    padding: 0px;
    display: inline;
}
.mn img{
    width: 50px;
    /* filter: invert(1) */
}
.mn{
    display: none;
    margin-left: 300px;
    margin-top: 2   0px;
    /* background-color: blue; */
    width: 188px;
    padding-left: 20px;

}
.cls{
    width: 20px;
    display: none;
    margin-top: -40px;
    margin-left: 120px;
    filter: invert(1);
}
.cls:hover{
    filter: invert(0);
    background-color: white;
    border-radius: 50%;
    transition: 1s;
}
body{
/* background-color:wh */
}
.tm
{
   
    display: inline-block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .tm img{
      display: inline-block;
      margin-left: 530px;
      margin-top: 0px;
      /* width: 100%; */
  }
  

  
  .wrapper {
    /* margin-left: 0px; */
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 100px;
  }
  
  .wrapper p {
    line-height: 70px;
    letter-spacing: 4px;
    font-size: 70px;
    color: blue;
    font-weight: 600;
  }
  .tx{
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
    height: 70px;

   
  }
  #t1,#t2,#t3{
    /* display: none; */
    font-size: 70px;
    color: tomato;
}
  .slider{
      animation: moveUp 9.9s steps(3) infinite,blink 3.3s infinite;
      text-align: center;

  }
  @keyframes blink {
      from{
          opacity: 0;
          transform: scale(1.25);
      }
      to {
          opacity: 1;
          transform: scale(1);
       
      }
  }
  h1{
      padding: 0px;
      margin: 0px;
  }
 

  @keyframes moveUp {
        0%{
            margin-top: 0px;
        }      
        100%{
            margin-top: -250px;
        }
  }
  .cards{
      margin-top: 150px;
      display: inline-flex;
      flex-wrap: wrap;
      row-gap: 50px;
      column-gap: 100px;
      justify-content: center;
      align-items: center;
    animation: cardss 10s  ;


  }
 
  
  @keyframes cardss {
      0%{
          column-gap: 300px;
          row-gap: 200px;
      }
      100%{
          column-gap: 100px;
          row-gap: 50px;
      }
  }



  .card{
      box-shadow: 5px 5px 20px 0px black;
        width: 500px;
        height: 150px;
      border-radius: 10px;
  }
  .card:hover{
      transform: translateY(-10px);
      transition:  2s ease-in-out;

      border-bottom: blue 10px solid;
   }
 
       
   


  .m{
      width: 140px;
      height: 130px;
      margin: -20px 0px 10px 350px;
      border-radius: 5px;
      
  }
  h1,h2,h3{
      padding: 0px;
      margin: 0px;
  }
 .card h1{
    display: inline-block;
    position: relative;
    top: -120px;
    left: 70px;
 }
 .card h1:hover{
     color: blue;
 }
 .card h3{
     margin-top: -120px;
     margin-left: 150px;
 }
 .sm{
    width: 40px;
    filter: invert(100%);
   
    border-radius: 5px;
 }
 #sm{
     margin-left: 120px;
     margin-top: 20px;
 }
 .sm:hover{
filter: none;
transition: all 0.6s ease-in-out;
transform: rotate(360deg);
 }
 .foot{
     background-color: rgba(0, 0, 0, 0.827);
     margin-top: 100px;
     height: 70px;
     text-align: center;


 }
 .cp{
     color:white;
     margin-top: 20px;
 
 }
 .cu img{
     width: 3%;
 }
 .ln:hover,.tw:hover,.gt:hover,.ds:hover{
     filter: invert(1);
 }
 *{
     /* border: 2px red solid; */
 }
 @media screen and (max-width:1360px) { 
        .logo{
            margin-left:5px ;
        }
        .sh{
            margin-left: 80px;
        }
        .nav{
            margin-left: 300px;
        }
        .nav ul{
            column-gap: 20px;
        }
        .wrapper{
            /* margin-left: 10px;
             */
             left: 10px;
        }
     
     .tm img{
        width: 650px;
        margin-left: 380px;
     }
 }
 @media screen and (max-width:1045px) {
     .sh{
         margin-left: 180px;
     }
     .logo{
         margin-left: 100px;
     }
     .nav {
         margin-left: 10px;
         margin-top: 50px;
     }
     .tm img{
         margin-left: 10px;
         /* margin-top: -700px; */
     }
     .wrapper{
         top: 650px;
         left: 150px;
        
     }
     .cards{
         margin-top: 300px;
         column-gap: 40px;
         justify-content: space-between;
         margin-left: 100px;
     }
 }
 @media screen and (max-width:685px) {
     .tm{
         margin-top: -400px;
         margin-left: -382px;
         z-index: -1000;
     }
     .tm img{
         /* width: 300px; */
         z-index: -10000;
     }
     .wrapper{
    top: 650px;
    left: 0px;
    }
    .wrapper p{
        letter-spacing: 0;

    }
    .cards{
        margin-left: 0px;
    }.card{
        width: 280px;
    }
    .card h1{
        left: 10px;
        font-size: 20px;
    }#sm{
        margin-left: 10px;
    }
    .card h3{
        margin-left: 0px;
        font-size: 15px;
    }
    .m{
        margin-left: 160px;
        width: 120px;
    }
    .ev{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }
    .dp{
        opacity: 0;
        margin-left: 90px;
        margin-top: 18px;
    }
     .dp ul{
         list-style: none;
         row-gap: 0px;
         z-index: 10000;
        flex-direction:column;
        display: inline-flex;
     }
     
     .dp ul li{
         
         padding: 20px;
         z-index: 1000;
         background-color: blue;
         
         
     }
     .dp ul li a{
        color: white;

     }
     .dp li:hover{
        transform: rotate(360deg);
        background-color: black;
     }
     .nav{
         margin-left:90px;
         margin-top: 0px;
         display: none;
         /* opacity: 0; */
         z-index: 10000;
     
     }
     .mn{
         display: inline-block;
         margin-left: 200px;
         margin-top: -100px;
         /* padding-left: 5px; */
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
         width: 30px;
        z-index: 1000;

         /* background-color: blue; */
     }
     .mn img{
     }
     .logo{
         margin-left: 5px;
     }
     .sh{
         font-size: 20px;
         margin-top: -40px;
         margin-left:80px;
     }
    #t1,#t2,#t3
    {
        font-size: 60px;
    }
    .slider{
        animation: moveUp 9.9s steps(3) infinite,blink 3.3s infinite;
        text-align: center;
  
    }
    @keyframes moveUp{
        0%{
            margin-top: 0px;
        }      
        100%{
            margin-top: -220px;
        }
  }
 }
 
 @keyframes show {
     from{
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 @keyframes hide {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
 }
 